.font{
    font-family:Arial, Helvetica, sans-serif;
}
.fa{
    margin-left: 50px;
}
.blau{
    color: blue;
    font-weight: bold;
}
.pink{
    color: pink;
}
.rot{
    color:red;
    font-weight: bold;
}
.orange{
    color: orange;
}
.gelb{
    
    color: gold;
}
.braun{
    color: brown;
}
.grau{
    color: gray;
    font-weight: bold;
}
.teal{
    color: cornflowerblue;
}
.limegreen{
    color: rgb(78, 233, 78);
    font-weight: bold;
}
.green{
    color: green;
}
.Gr{
    margin-left: 50px;
}
#turnSunColorsBlack {
    height: 40px;
    width: 159px;
    border: 2px solid #ff5e00;
    border-radius: 10px;
    background-color: wheat;
}